:root {
  --color-text: #000000;
  --color-input: #f3eef5;
  --color-input-button: rgb(255, 255, 255);
  --color-todo-bg: #ffffff;
  --color-bg: rgba(255, 255, 255, 0.5);
}

html.dark {
  --color-text: #ffffff;
  --color-input: rgba(255, 255, 255, 0.3);
  --color-input-button: rgb(37, 37, 37);
  --color-todo-bg: rgb(37, 37, 37);
  --color-bg: rgba(0, 0, 0, 0.5);
}
