.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../public/images/background.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.subContainer {
  width: 420px;
  height: 520px;
  padding: 24px;
  background-color: var(--color-bg);
  border-radius: 25px;
  overflow: hidden;
}

.formContainer {
  width: 100%;
}

.input {
  width: calc(100% - 50px - 10px);
  height: 30px;
  margin-right: 10px;
  margin-bottom: 20px;
  padding: 0 10px 0 10px;
  color: var(--color-text);
  background-color: var(--color-input);
  border: none;
  border-radius: 10px;
}

.button {
  width: 50px;
  height: 30px;
  color: var(--color-text);
  background-color: var(--color-input-button);
  border: none;
  border-radius: 10px;
}

.todoContainer {
  height: calc(100% - 24px - 30px - 36px - 21px - 19px - 30px - 50px);
  overflow-y: scroll;
  margin-bottom: 20px;
}
